@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
.page{
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #000;
  text-rendering: optimizeLegibility;
  max-width: 1280px;
  margin: 0 auto;
}

/*header start*/
.header{
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

.header__logo{
  max-width: 142px;
  padding: 45px 0 38px;
}

@media screen and (max-width: 880px){
  .header__logo{
    max-width: 104px;
    padding: 28px 0 29px 27px;
  }
}
/*header end*/

/*profile start*/
.profile{
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 50px;
  justify-content: space-between;
}

@media screen and (max-width: 860px){
  .profile{
    padding: 42px 0 36px;
    max-width: 282px;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
  }
}
.avatar{
  display: block;
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
@media screen and (max-width: 860px){
  .avatar{
    margin: 0 0 26px 81px;
  }
}

.profile-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 336px;
  max-height: 77px;
  align-self: center;
  margin-right: 224px;
}

@media screen and (max-width: 860px){
  .profile-info{
    max-width: 282px;
    margin: 0 0 33px 0;
  }
}

.profile-info__item{
  display: flex;
}

.profile-info__name{
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  margin-right: 18px;
  padding-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}
@media screen and (max-width: 860px){
  .profile-info__name{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 189px;
  }
}
.profile-info__about-me{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 860px){
  .profile-info__about-me{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 282px;
  }
}
.profile-info__edit-btn{
  background-image: url(./image/edit-button.svg);
  min-width: 24px;
  min-height: 24px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  align-self: center;
  border: none;
}

.profile-info__edit-btn:hover{
  opacity: 0.6;
}

@media screen and (max-width: 860px){
  .profile-info__edit-btn{
    min-width: 18px;
    min-height: 18px;
  }
}

.add-button{
  background-image: url(./image/add-button.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  min-width: 150px;
  min-height: 50px;
  align-self: center;
  padding: 0;
  border: none;
}

.add-button:hover{
  opacity: 0.6;
}
@media screen and (max-width: 860px){
  .add-button{
    background-image: url(./image/add-button-mobile.svg);
    min-width: 282px;
  }
}

/*profile end*/

/*elements start*/
.elements{
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;

}

.element-list{
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
  list-style-type: none;
}

.element{
  background-color: #fff;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 282px;
  width: 100%;
  max-height: 361px;
  height: 100%;
}

.element__image{
  border-radius: 10px 10px 0 0;
  max-width: 282px;
  max-height: 282px;
  width: 100%;
  height: 100%;
}



.element__name{
  margin: 0;
  max-width: 189px;
  width: 100%;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 25px 21px;
}

.element__stats{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.button-like{
  background-image: url(./image/like-ico.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  min-width: 22px;
  min-height: 19px;
  align-self: center;
  padding: 0;
  border: none;
  margin-right: 30px;
}

.button-like:hover{
  opacity: 0.6;
}

.button-like_active{

}
/*elements end*/

/*footer start*/
.footer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}
.footer__copyright{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 66px 0 56px;
}

@media screen and (max-width: 880px){
  .footer__copyright{
    font-size: 14px;
    line-height: 17px;
    margin: 48px 19px 33px;
  }
}
/*footer end*/

/*popup start*/
.popup{
  position: fixed;
  background-color: rgba(0, 0, 0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.popup_opened{
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


@media screen and (max-width: 585px) {
  .popup__container{
    max-width: 282px;
    max-height: 320px;
  }
}

.popup__close-btn{
  background-image: url(./image/close-ico-btn.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  min-width: 32px;
  min-height: 32px;
  align-self: center;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-btn:hover{
  opacity: 0.6;
}

@media screen and (max-width: 585px) {
  .popup__close-btn{
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}
.popup__title{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 358px;
  width: 100%;
  margin: 34px auto 48px;
}

@media screen and (max-width: 585px) {
  .popup__title{
    max-width: 238px;
    margin: 25px auto 75px;
    font-size: 18px;
    line-height: 22px;
  }
}


.popup__input-wrap{
  max-width: 358px;
  margin: 0 auto 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom:  1px solid #000 .2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
}

.popup__input-wrap:last-of-type{
  margin: 0 auto;
}

@media screen and (max-width: 585px) {
  .popup__input-wrap{
    max-width: 238px;
  }
}

.popup__name{
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 0 10px 0;
}

.popup__info{
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 0 10px 0;
}

.popup__submit-btn{
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 2px;
  max-width: 358px;
  max-height: 50px;
  height: 100%;
  width: 100%;
  margin: 48px 36px 37px;
  padding: 0;
  border: none;
}

.popup__submit-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 585px) {
  .popup__submit-btn{
    max-width: 238px;
    max-height: 46px;
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
