.profile__add-button{
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  min-width: 150px;
  min-height: 50px;
  align-self: center;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 860px){
  .profile__add-button{
    background-image: url(../../../images/add-button-mobile.svg);
    min-width: 282px;
  }
}
