.profile__avatar{
  display: block;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 860px){
  .profile__avatar{
    margin: 0 0 26px 81px;
  }
}
