.profile-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 336px;
  max-height: 77px;
  align-self: center;
  margin-right: 224px;
}

@media screen and (max-width: 860px){
  .profile-info{
    max-width: 282px;
    margin: 0 0 33px 0;
  }
}
