.popup__submit-btn{
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 2px;
  max-width: 358px;
  min-height: 50px;
  height: 100%;
  width: 100%;
  margin: 48px 36px 37px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s;
}

.popup__submit-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 585px) {
  .popup__submit-btn{
    max-width: 238px;
    max-height: 46px;
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
